.head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  justify-items: center;
  border-bottom: 1px rgb(54, 82, 47) solid;
  color: rgb(54, 82, 47);
}

.lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
}

.clear {
  background-color: rgb(99, 85, 70);
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 6px;
  color: rgb(255, 255, 255);
}

.clear:hover {
  background-color: rgb(162, 137, 109);
  color: rgb(82, 50, 14);
  cursor: pointer;
}
